tr.sensor_Activity {
    background-color: #d4f7ff;
}

tr.sensor_Comment {
    background-color: #ff9655;
}

tr.sensor_Touch {
    background-color: #f6e2ff;
}

tr.sensor_Light {
    background-color: #e0ffe9;
}

tr.sensor_Accelerometer {
    background-color: #dcd1ff;
}

tr.sensor_GPS {
    background-color: #fff4d2;
}

tr.row_selected {
    background-color: #8fbc8f;
}