#editDiv {
    display: none;
}

#taskDetailsForm {
    display: none;
}

#btnRemoveTask {
    display: none;
}

/*#menuSidebar {
    display: none;
}*/

/*#taskTable {*/
    /*table-layout: fixed;*/
/*}*/

/*#taskTable th, #taskTable td {*/
    /*overflow: hidden;*/
/*}*/

/*#taskTable th:eq(0) {*/
    /*width: 5%;*/
/*}*/

/*#taskTable th:eq(1) {*/
    /*width: 95%;*/
/*}*/